<h1>Listing philes</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Content</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @philes.each do |phile| %>
  <tr>
    <td><%= phile.name %></td>
    <td><%= phile.content %></td>
    <td><%= link_to 'Show', phile %></td>
    <td><%= link_to 'Edit', edit_phile_path(phile) %></td>
    <td><%= link_to 'Destroy', phile, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Phile', new_phile_path %>
